<dialog #dialogElement (close)="onCancel()">
    @if (record()) {
    <div class="modal-content">
        <!-- Dynamically change the title based on ID presence -->
        <h3>{{ record().id ? 'Edit Record' : 'Add New Record' }}</h3>
        <table>
            <tr>
                <td><label for="name">Name:</label></td>
                <td><input id="name" [(ngModel)]="record().name" type="text" placeholder="Enter name..."
                        [class.custom-input]="true" [style.font-size.px]="16" type="text" class="search-input" /></td>
            </tr>
            <tr>
                <td><label for="role">Role:</label></td>
                <td><input id="role" [(ngModel)]="record().role" type="text" placeholder="Enter role..."
                        [class.custom-input]="true" [style.font-size.px]="16" type="text" class="search-input" /></td>
            </tr>
            <tr>
                <td><label for="username">Username:</label></td>
                <td><input id="username" [(ngModel)]="record().username" type="text" placeholder="Enter username..."
                        [class.custom-input]="true" [style.font-size.px]="16" type="text" class="search-input" /></td>
            </tr>
            <tr>
                <td><label for="password">Password:</label></td>
                <td><input id="password" [(ngModel)]="record().password" type="password" placeholder="Enter password..."
                        [class.custom-input]="true" [style.font-size.px]="16" type="text" class="search-input" /></td>
            </tr>
            <tr>
                <td><label for="email">Email:</label></td>
                <td><input id="email" [(ngModel)]="record().email" type="email" placeholder="Enter email..."
                        [class.custom-input]="true" [style.font-size.px]="16" type="text" class="search-input" /></td>
            </tr>
            @if (record().id) {
                <tr>
                    <td><label for="id">ID:</label></td>
                    <td><input id="id" disabled [(ngModel)]="record().id" type="number" placeholder="Enter ID..."
                            [class.custom-input]="true" [style.font-size.px]="16" type="text" class="search-input" /></td>
                </tr>
            }
        </table>

        <div class="actions">
            <button class="cancel-btn" (click)="onCancel()">Cancel</button>
            <button class="save-btn" (click)="onSave()">
                {{ record().id ? 'Save Changes' : 'Create Record' }}
            </button>
        </div>
    </div>
    }
</dialog>