

.toptitle {
  text-align: center;
}
.spinner{
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s linear infinite;
  
}

/* Add this keyframe definition */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.empty-table-message {
    text-align: center;
    vertical-align: middle;
    height: 25px; /* Optional: adds height to make vertical centering visible */
    color: #666;    /* Optional: styles the text color */
  }
  .empty-table-messagev2 {
    text-align: center;
    vertical-align: middle;
    height: 25px; /* Optional: adds height to make vertical centering visible */
    color: #ede2e2;    /* Optional: styles the text color */
  }

.table-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Gives the spinner room to breathe vertically */
}