<div>
    <div class="toptitle">
        <h1>Welcome to the Women Inventory!</h1>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Avatar</th>
                    <th>Age</th>
                    <th>Status</th>
                    <th>Date Of Birth</th>
                    <th>Country</th>
                    <th>Race</th>
                    <th>E-mail</th>
                </tr>
            </thead>
            <tbody>
                @for (woman of paginatedItems(); track woman.id) {
                <tr (click)="onRowClick(woman)">
                    <td>{{woman.id}}</td>
                    <td>{{woman.name}}</td>
                    <td><img width="50" height="50" ngSrc='{{woman.avatar}}' alt="Avatar" class="avatar" priority></td>
                    <td>{{woman.age}}</td>
                    <td>{{woman.status}}</td>
                    <td>{{woman.dateOfBirth }}</td>
                    <td>{{woman.country}}</td>
                    <td>{{woman.race}}</td>
                    <td>{{woman.email}}</td>
                </tr>
                }@empty {
                <tr>
                    <td colspan="9" class="empty-table-message">No women found.</td>
                </tr>
                <tr>
                    <td colspan="9" class="empty-table-messagev2">loading... </td>
                </tr>
                <tr>
                    <td colspan="9">
                        <div class="table-spinner-container">
                            <div class="spinner"></div>
                        </div>

                    </td>
                </tr>
                }
            </tbody>
        </table>
        <div class="pagination-controls">
            <button class="pagination-btn" (click)="prevPage()" [disabled]="currentPage() === 1">
                Previous
            </button>

            <span class="pagination-info">
                Page <strong>{{ currentPage() }}</strong> of <strong>{{ totalPages() }}</strong>
            </span>

            <button class="pagination-btn" (click)="nextPage()" [disabled]="currentPage() === totalPages()">
                Next
            </button>
        </div>

    </div>
    @if(paginatedItems().length != 0) {

        
        @if (selectedWoman()) {
            <div class="details">
                <h3>Selected Woman Details:</h3>
                <p><strong>ID:</strong> {{ selectedWoman()?.id }}</p>
                <p><strong>Name:</strong> {{ selectedWoman()?.name }}</p>
                <p><strong>Avatar:</strong>
                    <img width="100%" height="100%" src='{{selectedWoman()?.avatar}}' alt="Avatar">
                </p>
                <p><strong>Age:</strong> {{ selectedWoman()?.age }}</p>
                <p><strong>Status:</strong> {{ selectedWoman()?.status }}</p>
                <p><strong>Date of Birth:</strong> {{ selectedWoman()?.dateOfBirth }}</p>
                <p><strong>Country:</strong> {{ selectedWoman()?.country }}</p>
                <p><strong>Race:</strong> {{ selectedWoman()?.race }}</p>
                <p><strong>Email:</strong> {{ selectedWoman()?.email }}</p>

            </div>

        }
                <div class="details">
            <form>
                <h3>Add Woman Form</h3>
                <div>
                    <label for="name">Name:</label>
                    <input class="input-field" type="text" id="name" name="name"  [(ngModel)]="name" />
                </div>
                <div>
                    <label for="avatar">Avatar URL:</label>
                    <input class="input-field" type="text" id="avatar" name="avatar" [(ngModel)]="avatar" />
                </div>
                <div>
                    <label for="age">Age:</label>
                    <input class="input-field" type="number" id="age" name="age" [(ngModel)] ="age" />
                </div>
                <div>
                    <label for="status">Status:</label>
                    <input class="input-field" type="text" id="status" name="status" [(ngModel)] = "status" />
                </div>
                <div>
                    <label for="dateOfBirth">Date of Birth:</label>
                    <input class="input-field" type="date" id="dateOfBirth" name="dateOfBirth"[(ngModel)] = "dateOfBirth" />
                </div>
                <div>
                    <label for="country">Country:</label>
                    <input class="input-field" type="text" id="country" name="country" [(ngModel)] ="country" />
                </div>
                <div>
                    <label for="race">Race:</label>
                    <input class="input-field" type="text" id="race" name="race"  [(ngModel)] = "race" />
                </div>
                <div>
                    <label for="email">Email:</label>
                    <input class="input-field" type="email" id="email" name="email" [(ngModel)] = "email" />
                </div>

                <div class="form-actions">
                    <button class="add-btn" type="button" (click) = "saveWoman()" >Save</button>
                     
                </div>
            </form>
        </div>
    }


</div>